table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th, td {
	padding: 5px;
	text-align: left;
}

.hide {
	display: none;
}

hr {
	height: 3px;
	color: red;
	background-color: red;
	border: none;
}