<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1255">
<title>Insert title here</title>
</head>
<body>

	<p style="text-align: center">
		<font size="20" color="blue"> wellcome to my system!</font>
	</p>
	<form action="LoginServlet" method="post">

		Username: <input placeholder="Enter Username" type="text" name="user">
		<br> Password: <input placeholder="Enter password"
			type="password" name="pwd"> <br> <input type="submit"
			value="Login">
	</form>
	
</body>
</html>